<li class="task-list__item">
    <a href="#" class="task">
        <h2 class="task__title">This is a Super Task</h2>
        <p class="task__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis sint numquam
            nihil repudiandae officiis sed natus ullam eum obcaecati deserunt. Ipsum architecto, maxime cupiditate
            beatae nemo alias aut fuga culpa.</p>
        <span class="task__status">TODO</span>
        <span class="task__action">
            <form method="post" action="">
                <input type="hidden" name="id">
                <button class="item__button" type="submit"><img class='item__modify'
                        src="https://image.flaticon.com/icons/svg/282/282122.svg"></button>
            </form>
        </span>
        <span class="task__action">
            <form method="post" action="">
                <input type="hidden" name="id">
                <button type="submit" title="DOING">▶️</button>
            </form>
        </span>
        <span class="task__action">
            <form method="post" action="">
                <input type="hidden" name="id">
                <button type="submit" title="REVIEW">⏯</button>
            </form>
        </span>
        <span class="task__action">
            <form method="post" action="">
                <input type="hidden" name="id">
                <button type="submit" title="DONE">⏹</button>
            </form>
        </span>
    </a>
</li>