<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <title>Tasks</title>
</head>

<body>

    <section class="view landing _hide">
        <h1 class="landing__title">Welcome to Tasks App </h1>
        <p class="landing__options">Please, proceed to <a href="#">Register</a> or <a href="#">Login</a>.</p>
    </section>

    <section class="view register _hide">
        <form>
            <h1 class="register__title">Register</h1>
            <input class="register__field" type="text" name="name" placeholder="name">
            <input class="register__field" type="text" name="surname" placeholder="surname">
            <input class="register__field" type="email" name="email" placeholder="e-mail">
            <input class="register__field" type="password" name="password" placeholder="password">
            <button class="register__submit">📨</button>
        </form>

        <section class="feedback">
            <span class="feedback__icon">🤡</span>
            <p class="feedback__message">Come with me...</p>
            <span class="feedback__icon">🎈</span>
        </section>
    </section>

    <section class="view login _hide">
        <form>
            <h1 class="login__title">Login</h1>
            <input class="login__field" type="email" name="email" placeholder="e-mail">
            <input class="login__field" type="password" name="password" placeholder="password">
            <button class="login__submit">🗝</button>
        </form>

        <section class="feedback">
            <span class="feedback__icon">🤡</span>
            <p class="feedback__message">Come with me...</p>
            <span class="feedback__icon">🎈</span>
        </section>
    </section>

    <section class='tasks-list'>
        <h1 class='tasks-list__title'>My Tasks</h1>
        <ul class='tasks-list__results'>
            <li class='tasks-list__item item item--todo'>
                <h2 class="item__title">Template</h2>
                <p class="item__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa,
                    dolore.</p>
                <p class='item__status'> TODO</p>
                <button class="item__button" type="submit"><img class='item__delete'
                        src="https://image.flaticon.com/icons/svg/1221/1221570.svg"></button>
                <div>
                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://www.flaticon.com/premium-icon/icons/svg/1049/1049952.svg" alt="todo" />
                    </button>

                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://www.flaticon.com/premium-icon/icons/svg/1049/1049989.svg" alt="doing" />
                    </button>

                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://www.flaticon.com/premium-icon/icons/svg/1049/1049975.svg" alt="review" />
                    </button>

                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://image.flaticon.com/icons/svg/1049/1049961.svg" alt="review" />
                    </button>
                </div>
            </li>
            <li class='tasks-list__item item item--todo'>
                <h2 class="item__title">Template</h2>
                <p class="item__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa,
                    dolore.</p>
                <p class='item__status'> TODO</p>
                <button class="item__button" type="submit"><img class='item__delete'
                        src="https://image.flaticon.com/icons/svg/1221/1221570.svg"></button>
                <div>
                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://www.flaticon.com/premium-icon/icons/svg/1049/1049952.svg" alt="todo" />
                    </button>

                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://www.flaticon.com/premium-icon/icons/svg/1049/1049989.svg" alt="doing" />
                    </button>

                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://www.flaticon.com/premium-icon/icons/svg/1049/1049975.svg" alt="review" />
                    </button>

                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://image.flaticon.com/icons/svg/1049/1049961.svg" alt="review" />
                    </button>
                </div>
            </li>
            <li class='tasks-list__item item item--todo'>
                <h2 class="item__title">Template</h2>
                <p class="item__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa,
                    dolore.</p>
                <p class='item__status'> TODO</p>
                <button class="item__button" type="submit"><img class='item__delete'
                        src="https://image.flaticon.com/icons/svg/1221/1221570.svg"></button>
                <div>
                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://www.flaticon.com/premium-icon/icons/svg/1049/1049952.svg" alt="todo" />
                    </button>

                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://www.flaticon.com/premium-icon/icons/svg/1049/1049989.svg" alt="doing" />
                    </button>

                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://www.flaticon.com/premium-icon/icons/svg/1049/1049975.svg" alt="review" />
                    </button>

                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://image.flaticon.com/icons/svg/1049/1049961.svg" alt="review" />
                    </button>
                </div>
            </li>
            <li class='tasks-list__item item item--todo'>
                <h2 class="item__title">Template</h2>
                <p class="item__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa,
                    dolore.</p>
                <p class='item__status'> TODO</p>
                <button class="item__button" type="submit"><img class='item__delete'
                        src="https://image.flaticon.com/icons/svg/1221/1221570.svg"></button>
                <div>
                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://www.flaticon.com/premium-icon/icons/svg/1049/1049952.svg" alt="todo" />
                    </button>

                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://www.flaticon.com/premium-icon/icons/svg/1049/1049989.svg" alt="doing" />
                    </button>

                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://www.flaticon.com/premium-icon/icons/svg/1049/1049975.svg" alt="review" />
                    </button>

                    <button class="item__button" type="submit"> <img class="item__img"
                            src="https://image.flaticon.com/icons/svg/1049/1049961.svg" alt="review" />
                    </button>
                </div>
            </li>
        </ul>
    </section>
</body>

</html>